{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": [2, "never"],
    "react/sort-comp": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "react/jsx-closing-bracket-location": [1, "after-props"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "_i" }],
    "no-unused-expressions": [
      2,
      { "allowShortCircuit": true, "allowTernary": true }
    ]
  },
  "globals": {}
}
